.main{
    display: flex;
    width: 100vw;
    /* border: 1px red solid; */
    text-align: center;
    background-color:white;
}
.img{
    height: 5rem;
    width: 15rem;
    /* border: 1px red solid; */
}
.main span{
    margin-top: 1.3rem;
    font-size: 30px;
    margin-left: -1.3rem;
    font-weight: 700;  
}